<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>993010515503-u3pmn75kbeuomh4knq71575v03v0ndsa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993010515503-u3pmn75kbeuomh4knq71575v03v0ndsa</string>
	<key>API_KEY</key>
	<string>AIzaSyAIXob2kxLpzbZ35PI4G2czw0m36C2SLLM</string>
	<key>GCM_SENDER_ID</key>
	<string>993010515503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.cocoapods.demo.NCore-Example</string>
	<key>PROJECT_ID</key>
	<string>ncore-47f0b</string>
	<key>STORAGE_BUCKET</key>
	<string>ncore-47f0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993010515503:ios:dc77559022d0804e</string>
	<key>DATABASE_URL</key>
	<string>https://ncore-47f0b.firebaseio.com</string>
</dict>
</plist>